<footer class="navbar navbar-inverse navbar-fixed-bottom ">
	<div class="container text-center wow fadeIn animated animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;" data-wow-delay="0.4s">
		<p style = "color:#538b01;" class="copyright"><br>
		Copyright © 2016 -
		<a href="http://www.gemsessence.com/" target="_blank"> GemsEssence Infotech Pvt. Ltd.</a>
		All rights reserved
		</p>
	</div>
</footer>

